.icon-card {
  border: 3px solid gray;
  padding: 5px;
  border-radius: 10px;
  /* filter: grayscale(100%); */
}

.icon-card:hover {
  /* cursor: pointer; */
  border: 3px solid black;
  filter: none;
}

@media screen and (max-width: 325px) {
  .text {
    font-size: small;
  }

  .icon-card {
    border: 3px solid gray;
    padding: 7px;
    border-radius: 10px;
  }
}
